# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# Maven specific files
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Eclipse specific files
*.pydevproject
.project
.metadata
.classpath
.c9/
*.launch
.settings/
bin/
tmp/
*.bak

# IDEA specific files
.idea/
*.iml
*.iws

# VS Code specific files
.vscode/

# Node specific files
node_modules/

# OS-specific files
.DS_Store
Thumbs.db

